* { margin: 0; padding: 0; }
html, body{
  max-width:100%;
  overflow-x: hidden;
}
.road{
  position: absolute;
  height: 100%;
  width: 260px;
  left: 15%;
  background-image: url(road.jpg);
  background-repeat: repeat-y;
  z-index: 1;
}

.car{
  position: absolute;
  width: 150px;
  top:210%;
  content: url(car.png);
  z-index: 2;
}


.animation{
  position:relative;
  height: 100%;
  width: 40%;
  float:left;
  /*background-color: #bdc3c7;*/
  background-color: #D3D3D3;
  z-index: 1;
}

.content{
  height: 100%;
  width: 60%;
  float:right;
  /*background-color: #bdc3c7;*/
  background-color: #D3D3D3;
  z-index: 1;
  color:#542E73;
  font-family: 'Roboto', sans-serif;
}

.video{
  position:relative;
  z-index:-1;
  height:100% !important;
  width:100% !important;
  min-height:100%;
  min-width:100%;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transform: scale(1.23);
  transform: scale(1.23);
}

.overlay{
  position:absolute;
  z-index:1;
  top:20%;
  width:100%;
  height:100%;
  /*text-shadow: -1px 0 #2E0854, 0 1px #2E0854, 1px 0 #2E0854, 0 -1px #2E0854;*/
  line-height: 200px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}
#subtitle{
  color:#52495A;
}
#title{
  color:#542E73;

}

.overlay2{
  position:relative;
  z-index:1;
  top:150px;
  width:100%;
  height:70%;
  color:white;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  line-height: 100px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.description{
  width:40%;
  float: left;
  margin-top: 4%;
  margin-left:5%;
  font-family: 'Roboto', sans-serif;
  color:#542E73;
  font-size: 25px;
  max-height: 90%;
  overflow: hidden;

}
.shot{
  position:relative;
  width:40%;
  float: right;
  margin-top: 4%;
  margin-left: 4%;
  font-family: 'Roboto', sans-serif;
  color:#542E73;
  font-size: 25px;
}

.section{
  height: 100%;
}

.page{
  background-color: #bdc3c7;

}

h1{
  text-align: center;
}

#team{
  /*position:relative;*/
  background-color: #D3D3D3;
}

#bg{
  z-index:0;
  width:100%;
  height:100%;
  transform: scale(1.22);
}

#wp{
  position: absolute;
  top: 60%;
}
#turn{
  position: absolute;
  top: 200%;
}

#one{
  z-index: 1;
}

#last{
  background: url(http://i.kinja-img.com/gawker-media/image/upload/ic7zbeyy8qv8ratkyezg.jpg);
  background-size: cover;
}
#cbase{
  position: relative;
  content: url(face.png);
  width: 100%;
  z-index:1;
}
#chand{
  transform-origin: 100% 0%;
  -webkit-transform-origin: 100% 0%;
  -ms-transform-origin: 100% 0%;
  position: absolute;
  content: url(hand80.png);
  width: 17%;
  left: 30.5%;
  top: 50%;
  z-index:2;
  transform: rotate(0deg);
}
#ccontainer{
  position:relative;
  margin:auto;
  width:70%;
  /*left: 10%;*/
  top: 20%;
}
#alex{
  visibility: hidden;
}
#adam{
  visibility: hidden;
}
#kevin{
  visibility: hidden;
}
#sam{
  visibility: hidden;
}
#team{
  visibility: visible;
}
#teamt{
    width: 100%;
}
td{
  padding: 20px;
}

button {
  display: inline-block;
  margin: 0 10px 0 0;
  padding: 15px 45px;
  font-size: 48px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.8;
  appearance: none;
  box-shadow: none;
  border-radius: 0;
}

button:focus {
  outline: none
}

section.border button {
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  background: rgba(0,0,0,0);
  border: solid 7px #542E73;
}
section.border button:hover,
section.border button.hover {
  border-color: #534162;
  color: grey;
}
section.border button:active,
section.border button.active {
  border-color: #52495A;
  color: black;
}

a:link{
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
    text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: none;

}

a:active {
  color: black;
  text-decoration: none;

}
