.current-location-div {
    position: absolute;
    left: 3%;
    bottom: 3%;
    z-index: 1;
}

.current-location-button {
  color: #2D659F !important;
}

.current-location-button:before {
    /*Icon size doesn't work*/
    font-size: 12px;
}

.main-modal {
    /*Overlay on the bottom*/

    position: absolute;
    bottom: 0px;
    z-index: 1;
    /*Sizing*/

    width: 60%;
    margin-left: 20%;
    margin-bottom: 5%;
    /*Styling*/

    border: 2px solid grey;
    background-color: rgba(255, 255, 255, .8);
    border-radius: 5px;
    text-align: center;
}

/*Styling for home page address text boxes*/
.address-input {
    background-color: rgba(255, 255, 255, .95);
    color: rgba(255, 255, 255, 1);
}
