/* Empty. Add your own CSS if you like */
#map {
  width: 100%;
  height: 80%;
}

.scroll {
  height: 100%;
}
#lat{
    opacity: 0;
}
#long{
    opacity: 0;
}

/*Styling for scheduling dropdown*/
.scheduled-options-card {
  margin-top: 12px;
	border: 1px solid gray;
  padding: 6px;
}

.show-options {
  float: right;
}

.repeated-day-picker {
  width: 100%;
  margin-top: 12px;
  margin-bottom: 12px;
}

.repeated-day-button {
	height: 35px;
  padding: 0px;
  font-size: 12px;
  line-height: 24px;
}

.selected-day-picker {
	background-color: #4da5ff !important; /* color when highlighted */
}

.date-select {
  overflow: initial;
  white-space: initial; /*For word wrap*/
  margin: 4px;
  border: 1px solid #ddd;
}

.scheduled-rides-configure {
  font-size: 32px;
}

.scheduled-rides-save {
  font-size: 32px;
}
