<ion-view view-title="Call Ride">
    <ion-content>
        <!--                <a ng-click="centerOnMe()" class="button button-icon icon ion-navigate">Find Me</a>                <a onclick="testimate((lat).childNodes[0].innerHTML, (long).childNodes[0].innerHTML)" class="button button-icon icon ion-clock">Time Estimate</a>-->

        <div style="width:98%; margin:1%; border:2px solid #ADD8E6; border-radius:5px;">
            <!--ADD SHIT HERE -->
            <div style="margin:1%;">
              <div class="list">
                <label class="item item-input">
                  <input type="text" placeholder="Pick Up">
                </label>
                <label class="item item-input">
                  <input type="text" placeholder="Drop Off">
                </label>
              </div>

            <button class="button button-outline button-block  button-calm">
              Call Ride
            </button>

          </div>
        </div>

        <a ng-click="centerOnMe()">Get Current Location</a><br>
        <a ng-click="dropMarker()">Set Location</a>
        <div id="map" data-tap-disabled="true" ng-init="$scope.initialize(); centerOnMe()">

        </div>
        <div id="estimate">Estimate Here</div>
        <div id="lat">lat</div>
        <div id="long">long</div>
        <!--This is transparent, but here for debugging-->



    </ion-content>
</ion-view>
