<ion-view view-title="Configure Schedule">
    <ion-content>
        <!--START CODE FOR AUTOSUGGEST SEARCH BAR -->
        <script type="text/ng-template" id="customTemplate.html">
            <a>
                <img ng-src="http://upload.wikimedia.org/wikipedia/commons/thumb/{{match.model.flag}}" width="16">
                <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
            </a>
        </script>

        <script type="text/ng-template" id="customPopupTemplate.html">
            <div class="custom-popup-wrapper" ng-style="{top: position().top+'px', left: position().left+'px'}" style="display: block;" ng-show="isOpen() && !moveInProgress" aria-hidden="{{!isOpen()}}">
                <p class="message">select location from drop down.</p>

                <ul class="dropdown-menu" role="listbox">
                    <li ng-repeat="match in matches track by $index" ng-class="{active: isActive($index) }" ng-mouseenter="selectActive($index)" ng-click="selectMatch($index)" role="option" id="{{::match.id}}">
                        <div uib-typeahead-match index="$index" match="match" query="query" template-url="templateUrl"></div>
                    </li>
                </ul>
            </div>
        </script>
<!--END CODE FOR AUTOSUGGEST SEARCH BAR -->

        <div class="item item-text-wrap">
            <p class="lead" style="font-size:22px;">Schedule</p>
            <div class="list list-inset">

                <div class="item">
                    Next Ride: {{configuredRide.time | date : 'h:mm a'}}
                </div>
                <div class="item" ng-init="timeUntilDate(configuredRide.nextRide, 'string')">
                    Remaining Time: {{timeUntilDate(configuredRide.nextRide, "string")}}
                </div>
                <div class="item">
                    Future Rides: 13 <span style="float:right; font-size:20px;" class="ion-ios-information-outline" ng-click="showRemainingRides()"></span>
                </div>


            </div>
        </div>
        <div class="item item-text-wrap">
            <p class="lead" style="font-size:22px;">Pickup + Dropoff</p>
            <div class="list list-inset">

                <div class="item row">
                    <div style="width:90%;">
                        <label class="item item-input">Pickup:
                            <input type="text" placeholder="Pickup" value=" {{configuredRide.pickupName[0]}} {{configuredRide.pickupName[1]}}, {{configuredRide.pickupName[2]}} {{configuredRide.pickupName[3]}}">

                        </label>

                    </div>
                    <button class="button button-calm" ng-click="isCollapsedPickup = !isCollapsedPickup" style="margin-left:1%;">
                        <span ng-if="isCollapsedPickup"><i class="ion-ios-arrow-down"></i></span>
                        <span ng-if="!isCollapsedPickup"><i class="ion-ios-arrow-up"></i></span>
                    </button>
                </div>

                <div uib-collapse="isCollapsedPickup">
                    <!--Options for alternate addresses -->
                    <div class="list list-inset" style="margin-bottom:1%;">

                        <div class="item" ng-click="showAlert()">
                            <span>759 Ocean Ave San Francisco</span>
                        </div>
                        <div class="item">
                            <span>725 Ocean Ave San Francisco</span>
                        </div>
                        <div class="item">
                            <span>74425 Ocean Ave San Francisco</span>
                        </div>


                    </div>
                </div>
                <div class="item row">

                    <div style="width:90%;">
                        <label class="item item-input">Dropoff:
                            <input type="text" placeholder="Dropoff" value=" {{configuredRide.dropName[0]}} {{configuredRide.dropName[1]}}, {{configuredRide.dropName[2]}} {{configuredRide.dropName[3]}}">
                        </label>
                    </div>
                    <button class="button button-calm" style="margin-left:1%;" ng-click="isCollapsedDropoff = !isCollapsedDropoff">
                        <span ng-if="isCollapsedDropoff"><i class="ion-ios-arrow-down"></i></span>
                        <span ng-if="!isCollapsedDropoff"><i class="ion-ios-arrow-up"></i></span>
                    </button>
                </div>
                <div uib-collapse="isCollapsedDropoff">
                    <div class="list list-inset" style="margin-bottom:1%;">

                        <div class="item" ng-click="showAlert()">
                            <span>759 Ocean Ave San Francisco</span>
                        </div>
                        <div class="item">
                            <span>725 Ocean Ave San Francisco</span>
                        </div>
                        <div class="item">
                            <span>74425 Ocean Ave San Francisco</span>
                        </div>

                    </div>
                </div>



            </div>
            <button class="button button-outline button-calm button-block" ng-click="isCollapsedMap = !isCollapsedMap">
                <span ng-if="isCollapsedMap">Close</span><span ng-if="!isCollapsedMap">Open</span> Map
            </button>
            <div uib-collapse="!isCollapsedMap" style="padding:1%;">
                <!--Options for alternate MAP SECTION -->
                <div class="main-address-div-ride-edit">
                    <div style="margin:1%;">
                        <div class="list">
                            <label class="item item-input">
                                <i class="icon ion-search placeholder-icon"></i>
                                
                                <input type="text" ng-model="asyncSelected" placeholder="SEARCH" uib-typeahead="address for address in getLocation($viewValue)" typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="form-control" style="">
                        <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                        <div ng-show="noResults">
                            <i class="glyphicon glyphicon-remove"></i> No Results Found
                        </div>
                            </label>

                        </div>
                    </div>
                </div>



                <div id="map" class="map-ride-edit" data-tap-disabled="true" ng-init="initialize(); centerOnMe()">

                </div>

                <!--END OF MAP SECTION -->
            </div>


            <hr>

            <div class="card">
                <div class="item item-text-wrap">
                    <h2 style="font-size:22px;">Recurring Pickup Schedule</h2>
                    <!--
                    <div class="row repeated-day-picker" style="border:1px solid #cccccc; margin-left:1%; width:98%;">
                        <div class="col" ng-repeat="day in configuredRide.repeatedDays track by $index">
                            <button class="button button-light" ng-class="{ 'selected-day-picker' : day == true }" ng-click="updateRepeatedDay({{rideId}}, {{$index}})">
                                <p>{{daysOfWeek[$index].substr(0, 3)}}</p>
                            </button>
                        </div>
                    </div>
-->
                    <div class="row">
                        <div class="col" style="margin-left:3%;"> Mon
                            <ion-checkbox ng-model="filter.blue"></ion-checkbox>
                        </div>
                        <div class="col">Tues
                            <ion-checkbox ng-model="filter.red"></ion-checkbox>
                        </div>
                        <div class="col">Wed
                            <ion-checkbox ng-model="filter.blue"></ion-checkbox>
                        </div>
                        <div class="col">Thur
                            <ion-checkbox ng-model="filter.blue"></ion-checkbox>
                        </div>
                        <div class="col">Fri
                            <ion-checkbox ng-model="filter.blue"></ion-checkbox>
                        </div>
                        <div class="col">Sat
                            <ion-checkbox ng-model="filter.blue"></ion-checkbox>
                        </div>
                        <div class="col">Sun
                            <ion-checkbox ng-model="filter.blue"></ion-checkbox>
                        </div>
                    </div>
                </div>
            </div>

<!--
            <div class="card">
                <div class="item item-text-wrap">


                    <div class='container-fluid typeahead-demo' ng-controller="TypeaheadCtrl">

                        <h4>Static arrays</h4>
                        <pre>Model: {{selected | json}}</pre>
                        <input type="text" ng-model="selected" uib-typeahead="state for state in states | filter:$viewValue | limitTo:8" class="form-control">

                        <h4>Asynchronous results</h4>
                        <pre>Model: {{asyncSelected | json}}</pre>
                        

                        <h4>ngModelOptions support</h4>
                        <pre>Model: {{ngModelOptionsSelected | json}}</pre>
                        <input type="text" ng-model="ngModelOptionsSelected" ng-model-options="modelOptions" uib-typeahead="state for state in states | filter:$viewValue | limitTo:8" class="form-control">

                        <h4>Custom templates for results</h4>
                        <pre>Model: {{customSelected | json}}</pre>
                        <input type="text" ng-model="customSelected" placeholder="Custom template" uib-typeahead="state as state.name for state in statesWithFlags | filter:{name:$viewValue}" typeahead-template-url="customTemplate.html" class="form-control" typeahead-show-hint="true" typeahead-min-length="0">

                        <h4>Custom popup templates for typeahead's dropdown</h4>
                        <pre>Model: {{customPopupSelected | json}}</pre>
                        <input type="text" ng-model="customPopupSelected" placeholder="Custom popup template" uib-typeahead="state as state.name for state in statesWithFlags | filter:{name:$viewValue}" typeahead-popup-template-url="customPopupTemplate.html" class="form-control">
                    </div>
                </div>
            </div>
-->
            <!-- <div class="row">
            <div class="col date-select button button-outline button-positive" ng-click="selectDate('startDate', {{$index}})">
                Start Date:
                <b>{{configuredRide.startDate | date : 'fullDate'}}</b>
            </div>
            <div class="col date-select button button-outline button-positive" ng-click="selectDate('endDate', {{$index}})">
                End Date:
                <b>{{configuredRide.ndDate | date : 'fullDate'}}</b>
            </div>
        </div> -->
            <div>
                Uber Type:
                <br>
                <b>{{UberTypes[configuredRide.product]}}</b>
            </div>
        </div>
    </ion-content>
</ion-view>