<ion-view view-title="Scheduled Rides">
    <ion-content>
        <button class="button button-full button-positive" href="#/app/rideinfo">
            New Schedule Pickup
        </button>
        <ion-list>
            <ion-item ng-repeat="ride in scheduledRides">
                <div class="row">
                    <div class="col">
                        <p class="scheduled-time">{{ride.time | date : 'h:mm a'}}</p>
                    </div>
                    <div class="col">
                        Next ride in:
                        <br> {{timeUntilDate(ride.nextRide, "string")}}
                    </div>
                    <div class="col">
                        <div class="show-options">
                            <a class="show-options-button" ng-click="toggleShow({{$index}})">
                                <spam ng-hide="ride.showOptions">
                                    <i class="icon ion-ios-settings-strong scheduled-rides-configure"></i>
                                </spam>
                                <spam ng-show="ride.showOptions">
                                    <i class="icon ion-checkmark scheduled-rides-save"></i>
                                </spam>
                            </a>
                        </div>
                    </div>
                </div>
                <div ng-show="ride.showOptions" class="scheduled-options-card">
                    <h2 style="font-size:22px;">Recurring Pickup Schedule</h2>
                    <div class="list">
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Pickup:</span>
                            {{ride.pickupName[0]}} {{ride.pickupName[1]}}, {{ride.pickupName[2]}} {{ride.pickupName[3]}}
                        </label>
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Dropoff:</span>
                            {{ride.dropName[0]}} {{ride.dropName[1]}}, {{ride.dropName[2]}} {{ride.dropName[3]}}
                        </label>
                    </div>
                    <div class="row repeated-day-picker" style="border:1px solid #cccccc; margin-left:1%; width:98%;">
                        <div class="col" ng-repeat="day in ride.repeatedDays track by $index">
                            <button class="button button-light" ng-class="{ 'selected-day-picker' : day == true }" >
                                <p>{{daysOfWeek[$index].substr(0, 3)}}</p>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col date-select button button-outline button-positive" ng-click="selectDate('startDate', {{$index}})">
                            Start Date:
                            <b>{{ride.startDate | date : 'fullDate'}}</b>
                        </div>
                        <div class="col date-select button button-outline button-positive" ng-click="selectDate('endDate', {{$index}})">
                            End Date:
                            <b>{{ride.endDate | date : 'fullDate'}}</b>
                        </div>
                    </div>
                    <div>
                        Uber Type:
                        <br>
                        <b>{{UberTypes[ride.product]}}</b>
                    </div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
