<ion-view view-title="FOCUS">
  <ion-content>
    <h2 style="font-size:22px;">Recurring Pickup Schedule</h2>
<!--                    <div uib-collapse="isCollapsed" class="scheduled-options-card">-->
<!-- 
                    <div class="item item-button-right">
                        <h3>
              Pickup: <br><b></b><br>
              <b></b>
            </h3>
                        <button class="button button-positive">
                            <i class="icon ion-android-locate"></i>
                        </button>
                    </div>
-->
                    <div class="list">
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Pickup:</span>
                            <input type="text" value="{{ride.pickupName[0]}} {{ride.pickupName[1]}}, {{ride.pickupName[2]}} {{ride.pickupName[3]}}">
                        </label>
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Dropoff:</span>
                            <input type="text" value=" {{ride.dropName[0]}} {{ride.dropName[1]}}, {{ride.dropName[2]}} {{ride.dropName[3]}}">
                        </label>
                        
                    </div>
<!--
                    <div class="item item-button-right">
                        <h3>
                Dropoff: <br><b></b><br>
                <b></b>
              </h3>
                        <button class="button button-positive">
                            <i class="icon ion-android-pin"></i>
                        </button>
                    </div>
-->
                    <div class="row repeated-day-picker" style="border:1px solid #cccccc; margin-left:1%; width:98%;">
                        <div class="col" ng-repeat="day in ride.repeatedDays track by $index">
                            <button class="button button-light" ng-class="{ 'selected-day-picker' : day == true }" ng-click="updateRepeatedDay({{$parent.$index}}, {{$index}})">
                                <p>{{daysOfWeek[$index].substr(0, 3)}}</p>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col date-select button button-outline button-positive" ng-click="selectDate('startDate', {{$index}})">
                            Start Date:
                            <b>{{ride.startDate | date : 'fullDate'}}</b>
                        </div>
                        <div class="col date-select button button-outline button-positive" ng-click="selectDate('endDate', {{$index}})">
                            End Date:
                            <b>{{ride.endDate | date : 'fullDate'}}</b>
                        </div>
                    </div>
                    <div>
                        Uber Type:
                        <br>
                        <b>{{UberTypes[ride.product]}}</b>
                    </div>
  </ion-content>
</ion-view>
