<ion-view view-title="Scheduled Rides">
  <ion-content>
    <button class="button button-full button-positive" ng-click="newScheduledRide()">
      New Schedule Pickup
    </button>
    <ion-list>
      <ion-item ng-repeat="ride in scheduledRides">
        <div class="row">
          <div class="col">
            <h2 class="scheduled-time">
              {{ride.time | date : 'h:mm a'}}
            </h2>
          </div>
          <div class="col">
            Next ride in:
          </div>
          <div class="col">
            <div class="show-options">
      				<a class="show-options-button" ng-click="toggleShow({{$index}})">
      					<spam ng-hide="ride.showOptions">
                  <i class="icon ion-ios-settings-strong scheduled-rides-configure"></i>
                </spam>
      					<spam ng-show="ride.showOptions">
                  <i class="icon ion-checkmark scheduled-rides-save"></i>
                </spam>
      				</a>
            </div>
          </div>
        </div>
				<div ng-show="ride.showOptions" class="scheduled-options-card">
          <div class="item item-button-right">
            <h3>
              Pickup Location: <br><b>{{ride.pickupName[0]}}</b><br>
              <b>{{ride.pickupName[1]}}, {{ride.pickupName[2]}} {{ride.pickupName[3]}}</b>
            </h3>
             <button class="button button-positive">
               <i class="icon ion-android-locate"></i>
             </button>
           </div>
           <div class="item item-button-right">
              <h3>
                Dropoff Location: <br><b>{{ride.dropName[0]}}</b><br>
                <b>{{ride.dropName[1]}}, {{ride.dropName[2]}} {{ride.dropName[3]}}</b>
              </h3>
              <button class="button button-positive">
                <i class="icon ion-android-pin"></i>
              </button>
            </div>
					<div class="row repeated-day-picker">
							<div class="col" ng-repeat="day in ride.repeatedDays track by $index">
								<button class="button button-light"
												ng-class="{ 'selected-day-picker' : day == true }"
												ng-click="updateRepeatedDay({{$parent.$index}}, {{$index}})">
									<p>{{daysOfWeek[$index].substr(0, 3)}}</p>
								</button>
							</div>
					</div>
          <div class="row">
            <div class="col date-select">
                 

    <button type="button" class="btn btn-default" ng-click="open()">Open me!</button>
                <button class="button button-dark" ng-click="showConfirm()">
      show
    </button>
<script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">I'm a modal!</h3>
        </div>
        <div class="modal-body">
            <ul>
                <li ng-repeat="item in items">
                    <a href="#" ng-click="$event.preventDefault(); selected.item = item">{{ item }}</a>
                </li>
            </ul>
            Selected: <b>{{ selected.item }}</b>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>
                
              Start Date:<br>
              <b>{{ride.startDate | date : 'fullDate'}}</b>
            </div>
            <div class="col date-select">
              End Date:<br>
              <b>{{ride.endDate | date : 'fullDate'}}</b>
            </div>
          </div>
          <div>
            Uber Type:<br>
            <b>{{UberTypes[ride.product]}}</b>
         </div>
				</div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
